.container ch{
        display: flex;
        justify-content: space-evenly;
}
.ch{
    height: 300px;
    width: 300px;
    background-color: red;
    border: 3px solid black;
}
@media screen and(max-width : 600px) {
    .container ch{
        flex-direction: column;
    }
    
}