body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 25, 25);
}
.h1e{
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: task;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    margin-top: 150px;
    background-color: rgb(19, 18, 18);
    box-shadow: 1px 1px 10px 5px rgb(82, 12, 73);
    
}
@keyframes task{
    10%{
        box-shadow: 1px 1px 10px 5px blue;
    }
    30%{
        box-shadow: 1px 1px 10px 5px goldenrod;
    }
    40%{
        box-shadow: 1px 1px 10px 5px red;
    }
    50%{
        box-shadow: 1px 1px 10px 5px wheat;
    }
    60%{
        box-shadow: 1px 1px 10px 5px aquamarine;
    }